@import url(https://fonts.google.com/specimen/Karla);

* {
    padding: auto;
    margin: auto;
}

body {
    background-color: #CCCC;
    font-family: "Karla", Arial, sans-serif;
    Font-size: 16px;
}

.card {
    background-color: #fcfafa;
    display: flex;
    flex: 0;
    overflow: hidden;
    flex-direction: column;
    width: 50%;
    height: 450px;
    border: 0.5px solid black;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 7px;
    box-shadow: 3px 15px 15px;
    border-color: rgba(red, green, blue, 1);
}

h1 {
    color:#26487E ;
    position: absolute;
    padding-right: 400px;
    top: 30px;
    right: 35px;
}

.Sub-titulo {
    font-size: large;
    position: absolute;
    width: 100%;
    bottom: 20px;
    padding-bottom: 150px;
    color: #d2e868;
    font-style: bold;
    top: 70px;
    right: 143px;
}

.P-top {
    display: flex;
    position: absolute;
    color: hsl(218, 22%, 67%);
    bottom: 80px;
    font-size: 17px;
    text-align: start;
    line-height: 30px;
    left: 25px;
}

.bottom {
    display: flex;
    border: 0px;
    width: 100%;
    margin-top: 2rem;
    color: #FFFF;
}

.bottom-left {
    display: flex;
    flex: 1;
    background-color: hsl(179, 62%, 43%);
    padding: 1rem;
    padding-right: 35px;
    box-sizing: border-box;
}

.bottom-right {
    display: flex;
    flex: 1;
    background-color: hsl(71, 73%, 54%);
    padding: 1rem;
    padding-left: 35px;
    box-sizing: border-box;
}

.mothly {
    color: #FFFF;
}
